header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 $light-font;
  color: $black-color;
}

.wrapper {
  @include wrapper(1390px, 20px);
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
    font: 16px $semibold-font;
    letter-spacing: 0.25px;
  }

  .header-content {
    @include flexbox;
    @include flex-just(space-between);
    @include align-items(center);
  }

}

.header-content {
  padding: 0 20px;

  #logo {
    width: 66px;
    height: auto;
    margin-right: 50px;

    a {
      display: block;
    }
  }

  .header-content-left {
    @include flexbox;
    @include align-items(center);
  }

  #main-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flexbox;
    }

    li {
      margin-right: 43px;
    }
  }

  .header-content-right {
    @include flexbox;
  }
}

.header-content-right {
  .btn {
    @include button(1px, #207cde, 4px);
    padding: 7px;
    width: 126px;
    background: transparent;
    transition: background 0.6s;
    display: block;

    &:last-child {
      margin-left: 12px;
    }

    &:hover {
      transition: background 0.6s;
      background: #207cde;
    }
  }
}

#main {
  h2 {
    font: 41px $bold-font;
    text-align: center;
    margin: 0 0 46px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
}

.top-banner {
  padding: 263px 0 44px;
  color: $white-color;
  margin-bottom: 96px;

  .top-banner-text {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 130px;
  }

  .top-banner-icons {
    @include flexbox;
    @include flex-just(center);
  }

}

.top-banner.lazy-background {
  background: $white-color;
}

.top-banner.lazy-background.visible {
  background: url("../images/top-banner.jpg");
  background-size: cover;
}

.top-banner-text {
  h1 {
    margin: 0 0 6px;
    font: 44px $bold-font;
    letter-spacing: 0.9px;
  }

  span {
    display: block;
    font: 24px $light-font;
    letter-spacing: 3.7px;
  }
}

.top-banner-icons {

  .icon-item {
    @include flex-basis(230px);
    text-align: center;
    font: 18px $semibold-font;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .icon-img-holder {
    height: 88px;
    margin-bottom: 16px;
    @include flexbox;
    @include flex-just(center);
    @include align-items(center);
  }

  img {
    max-height: 100%;
  }
}

#news {
  margin-bottom: 86px;

  .news-wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    position: relative;
    margin-bottom: 40px;
    min-height: 500px;
  }
}

.news-wrapper {
  .news-item {
    @include flex-basis(32%);
    max-width: 433px;
    margin-bottom: 25px;
  }
}

.news-wrapper.loader {
  > .spinner {
    z-index: 99999;

    &:before {
      width: 150px;
      height: 150px;
      border-width: 10px;
    }
  }
}

.news-item {
  .news-img-holder {
    height: 288px;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .news-text-holder {
    background: $white-color;
    position: relative;
    margin-right: 35px;
    padding: 27px 15px 0 0;
    transition: all 0.8s;
    top: 0;
  }

  &:hover {

    .news-text-holder {
      top: -48px;
      transition: top 0.8s;
    }

    .read-me {
      opacity: 0.3;
      transition: opacity 0.8s;
    }

  }

}

.news-text-holder {
  h3 {
    font: 24px $semibold-font;
    text-transform: capitalize;
    margin: 0 0 8px;
    letter-spacing: 0.5px;
  }

  span {
    font-size: 18px;
    line-height: 1.35;
    display: block;
    letter-spacing: 0.4px;
    margin-bottom: 26px;
  }

  .read-me {
    text-decoration: none;
    color: $black-color;
    opacity: 0;
    transition: opacity 0.8s;
    font: 12px $bold-font;
    text-transform: uppercase;

    .fas {
      transform: rotate(180deg);
      opacity: 1;
      margin-right: 12px;
    }

  }

}

#company-gallery {
  margin-bottom: 105px;
  overflow: hidden;

  .slick-slide {
    &:nth-child(odd) {
      .big-image {
        margin: 4px 0 0;
        @include order(1);
      }
    }
  }

}

.company-gallery-items {
  margin: 0 -219px;

  .gallery-item {
    @include flex(0, 0, 357px);
    @include flexbox;
    @include flex-wrap(wrap);
    margin: 0 2px;
  }
}

.gallery-item {
  .gallery-item-part {
    height: 176px;
    @include flex-basis(calc(50% - 2px));

    &:nth-child(2) {
      margin-right: 4px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .big-image {
    margin: 0 0 4px;
    height: 357px;
    @include flex-basis(100%);
  }
}

.vacancies {
  margin-bottom: 86px;

  .vacancies-holder {
    @include flexbox;
    @include flex-just(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 86px;
  }
}

.vacancies-holder {
  .vacancies-item {
    @include flex-basis(49%);
  }
}

.vacancies-item {
  @include flexbox;
  @include align-items(center);
  border: 2px solid $light-grey-color;
  background: $light-grey-color;
  transition: all 0.8s;
  padding: 24px 27px;
  box-sizing: border-box;
  margin-bottom: 23px;
  text-decoration: none;
  color: inherit;
  &:hover {
    background: transparent;
    border-color: $grey-second-color;
    transition: all 0.8s;
  }

  .vacancie-item-icon {
    width: 56px;
    height: 56px;
    margin-right: 43px;
    font-size: 56px;
    @include flexbox;
    @include flex-just(center);
    @include align-items(center);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  h4 {
    margin: 2px 0 3px;
    text-transform: uppercase;
    font: 20px $semibold-font;
  }

  .vacancie-text-top {
    font-size: 14px;
  }
}

.subscribe-wrapper {
  background-size: cover;
  min-height: 377px;
  text-align: center;
  color: $white-color;
  padding: 71px 0;
  box-sizing: border-box;

  h5 {
    font: 44px $semibold-font;
    letter-spacing: 1.25px;
    margin: 0 0 9px;
    text-transform: uppercase;
  }

  h6 {
    font: 18px $light-font;
    margin: 0 0 42px;
  }

  #subscribe-form {
    width: 100%;
    max-width: 456px;
    margin: 0 auto;
  }
}

.subscribe-wrapper.lazy-background {
  background: $white-color;
}

.subscribe-wrapper.lazy-background.visible {
  background: url("../images/subscribe.jpg") no-repeat center;
}

#subscribe-form {
  form {
    @include flexbox;
    @include flex-just(space-between);
  }

  input[type='email'],
  input[type='submit'] {
    height: 42px;
    border: none;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    @include border-radius(0);
  }

  input[type='email'] {
    background: $white-color;
    margin-right: 12px;
    padding: 10px 18px;
    font-size: 16px;
    @include flex-grow(1);
    @include placeholder($dark-grey-color);
  }

  input[type='submit'] {
    background: $blue-color;
    color: $white-color;
    padding: 10px 25px;
    font: 16px $semibold-font;
    text-transform: uppercase;
    cursor: pointer;
  }

  .error {
    color: red;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 10px;
  }

}

.loader {
  position: relative;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      content: '';
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid transparent;
      border-color: $blue-color transparent $blue-color transparent;
      animation: spiner 2s linear infinite;
    }
  }
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more-wrapper {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: $grey-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.load-more {
  @include button(2px, $orange-color);
  font: 14px $semibold-font;
  background: $white-color;
  padding: 12px 20px 11px;
  text-transform: uppercase;
  color: $black-color;
  min-width: 164px;
}