@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('../fonts/MuseoSansCyrl-500'),
	url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('../fonts/MuseoSansCyrl-700'),
	url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('../fonts/MuseoSansCyrl-300'),
	url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?l7kmrz');
	src:  url('../fonts/icomoon.eot?l7kmrz#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?l7kmrz') format('truetype'),
	url('../fonts/icomoon.woff?l7kmrz') format('woff'),
	url('../fonts/icomoon.svg?l7kmrz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}