[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-placeholder:before {
  content: "\e900";
  color: #207cde;
}
.icon-settings:before {
  content: "\e901";
  color: #207cde;
}
.icon-envelope:before {
  content: "\e902";
  color: #207cde;
}
.icon-like:before {
  content: "\e903";
  color: #207cde;
}
.icon-phone-call:before {
  content: "\e904";
  color: #207cde;
}
.icon-shopping-cart:before {
  content: "\e905";
  color: #207cde;
}