@media (max-width: 1440px) {
  .wrapper {
    max-width: 960px;
  }

  .news-item .news-img-holder {
    height: 196px;
  }

  .vacancies,
  #company-gallery,
  #news,
  .top-banner {
    margin-bottom: 50px;
  }

  #news .news-wrapper {
    margin-bottom: 20px;
  }

  .gallery-item {
    .gallery-item-part {
      height: 100px;
    }

    .big-image {
      height: 250px;
    }
  }

  .vacancies .vacancies-holder {
    margin-bottom: 27px;
  }

  .vacancies-item {
    padding: 15px;
    margin-bottom: 13px;

    .vacancie-item-icon {
      font-size: 40px;
      margin-right: 20px;
    }

    h4 {
      font-size: 16px;
    }
  }

}

@media (max-width: 960px) {
  .wrapper {
    max-width: 740px;
  }

  #header {
    a {
      font-size: 12px;
    }

    .header-content {
      padding: 0;

      #logo {
        margin-right: 30px;
      }
    }
  }

  .header-content {
    #main-nav li {
      margin-right: 20px;
    }
  }

  .subscribe-wrapper h5,
  #main h2 {
    font-size: 26px;
  }

  .top-banner {
    padding-top: 170px;

    .top-banner-text {
      margin-bottom: 90px;
    }
  }

  .top-banner-icons {
    .icon-img-holder {
      height: 60px;
    }

    .icon-item {
      font-size: 16px;
    }
  }

  .top-banner-text {
    h1 {
      font-size: 30px;
    }

    span {
      font-size: 20px;
    }
  }

  .news-item {
    .news-text-holder {
      margin-right: 15px;
    }

    .news-img-holder {
      height: 149px;
    }
  }

  .news-text-holder {
    h3 {
      font-size: 18px;
    }

    span {
      font-size: 16px;
    }
  }

  .company-gallery-items {
    margin: 0 -90px;
  }

  .gallery-item {
    .gallery-item-part {
      height: 70px;
    }

    .big-image {
      height: 160px;
    }
  }

  .vacancies-item .vacancie-item-icon {
    font-size: 30px;
  }

  .subscribe-wrapper {
    min-height: 300px;
  }

  #subscribe-form {
    input[type='email'],
    input[type='submit'] {
      height: 36px;
    }
  }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .vacancies-item {
    max-width: 661px;
  }
}