@mixin wrapper($max-width, $side-padding) {
  width: 100%;
  max-width: $max-width;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $side-padding;
}

@mixin button($border-width, $border-color, $border-radius: 0px) {
  border: $border-width solid $border-color;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  @if ($border-radius != 0px) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
  }
}

@mixin placeholder ($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  ::-moz-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
  }
}

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}