$semibold-font: 'Museo Sans Cyrl 500', arial, sans-serif;
$bold-font: 'Museo Sans Cyrl 700', arial, sans-serif;
$light-font: 'Museo Sans Cyrl 300', arial, sans-serif;
$white-color: #fff;
$blue-color: #207cde;
$black-color: #000;
$orange-color: #ff7200;
$grey-color: #e3e3e3;
$dark-grey-color: #5a5a5a;
$grey-second-color: #cccccc;
$light-grey-color: #f2f2f2;