</main>
<footer id="footer">
    <div class="subscribe-wrapper lazy-background">
        <div class="wrapper">
            <h5>Sign up for newsleter!</h5>
            <h6>Stay informed of the last company news</h6>
            <div id="subscribe-form"></div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>