@@include('header.htm', {
"title": "Test Task"
})

<div class="top-banner lazy-background">
    <div class="wrapper">
        <div class="top-banner-text">
            <h1>Stu Unger Rise And Fall Of A Poker Genius</h1>
            <span>V7 Digital Photo Printing</span>
        </div>
        <div class="top-banner-icons">
            <div class="icon-item">
                <div class="icon-img-holder">
                    <img class="lazy" data-srcset="images/clock.svg" data-src="images/clock.svg" src="" alt="">
                </div>
                <span>The Skinny On Lcd Monitors</span>
            </div>
            <div class="icon-item">
                <div class="icon-img-holder">
                    <img class="lazy" data-srcset="images/star.svg" data-src="images/star.svg" src="" alt="">
                </div>
                <span>Guidelines For Inkjet Cartridge Refill</span>
            </div>
            <div class="icon-item">
                <div class="icon-img-holder">
                    <img class="lazy" data-srcset="images/music-player.svg" data-src="images/music-player.svg" src=""
                         alt="">
                </div>
                <span>Do A Sporting Stag Do In Birmingham</span>
            </div>
            <div class="icon-item">
                <div class="icon-img-holder">
                    <img class="lazy" data-srcset="images/house.svg" data-src="images/house.svg" src="" alt="">
                </div>
                <span>Your Computer Usage</span>
            </div>
        </div>
    </div>
</div>
<div class="latest-news">
    <div class="wrapper">
        <h2>LATEST NEWS</h2>
    </div>
    <div id="news"></div>
</div>
<div class="company-gallery">
    <div class="wrapper">
        <h2>INSIDE Company</h2>
    </div>
    <div id="company-gallery"></div>
</div>
<div class="vacancies">
    <div class="wrapper">
        <h2>HOT VACANCIES</h2>
        <div class="vacancies-holder">
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-settings"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>As soon as Computerized Tomography</h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-placeholder"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>Magnetic Resonance Imaging </h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-shopping-cart"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>This is for the reason</h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-like"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>After that, in the 1980s Magnetic</h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-phone-call"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>became accessible in the 1970s</h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
            <a href="#" class="vacancies-item">
                <div class="vacancie-item-icon">
                    <span class="icon-envelope"></span>
                </div>
                <div class="vacancie-item-text">
                    <span class="vacancie-text-top">A situation</span>
                    <h4>MRIs concentrate on water molecules</h4>
                    <span class="vacancie-text-bottom">No image is so essentialv</span>
                </div>
            </a>
        </div>
    </div>
    <div class="load-more-wrapper">
        <a href="#" class="load-more">MORE VACANCIES</a>
    </div>
</div>

@@include('footer.htm')